<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title %>
  </div>
  <div>
    <%= f.text_field :title, :maxlength => 60 %>
  </div>
  <div>
    <%= f.label :year %>
  </div>
  <div>
    <%= f.text_field :year, :maxlength => 4 %>
  </div>
  <div>
    <%= f.label :runtime %>
  </div>
  <div>
    <%= f.text_field :runtime, :maxlength => 3 %>
  </div>
  <div>
    <%= f.label :synopsis %>
  </div>
  <div>
    <%= f.text_area :synopsis %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
