<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title %>
  </div>
  <div>
    <%= f.text_field :title, :maxlength => 60 %>
  </div>
  <div>
    <%= f.label :year %>
  </div>
  <div>
    <%= f.text_field :year, :maxlength => 4 %>
  </div>
  <div>
    <%= f.label :runtime %>
  </div>
  <div>
    <%= f.text_field :runtime, :maxlength => 3 %>
  </div>
  <div>
    <%= label_tag "movie[genres_list]", "Genres (comma separated)" %>
  </div>
  <div>
    <%= text_field_tag "movie[genres_list]", comma_separated_list_of(@movie.genres, :name) %>
  </div>
  <div>
    <%= label_tag "movie[directors_list]", "Directors (comma separated)" %>
  </div>
  <div>
    <%= text_field_tag "movie[directors_list]", comma_separated_list_of(@movie.directors, :name) %>
  </div>
  <div>
    <%= label_tag "movie[actors_list]", "Cast (comma separated)" %>
  </div>
  <div>
    <%= text_field_tag "movie[actors_list]", comma_separated_list_of(@movie.actors, :name) %>
  </div>
  <div>
    <%= f.label :synopsis %>
  </div>
  <div>
    <%= f.text_area :synopsis %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
