<div id="review_for_movie_<%= review.movie_id %>">
	<%= form_for review, :remote => true, :namespace => "movie_#{review.movie_id}", :html => {:class => "review_container"} do |f| %>
		<%= render 'movies/movie', :movie => review.movie %>

		<%= f.hidden_field :movie_id %>
    <div class="ratings_container">
      <span style="font-weight:bold; font-size:.8em">
        Your Rating :
      </span>
      <%= f.radio_button :rating, 1.0 %>
      <%= f.label :rating, '1.0 (terrible)', :value => 1.0 %>
      <%= f.radio_button :rating, 1.5 %>
      <%= f.label :rating, '1.5', :value => 1.5 %>
      <%= f.radio_button :rating, 2.0 %>
      <%= f.label :rating, '2.0 (poor)', :value => 2.0 %>
      <%= f.radio_button :rating, 2.5 %>
      <%= f.label :rating, '2.5', :value => 2.5 %>
      <%= f.radio_button :rating, 3.0 %>
      <%= f.label :rating, '3.0 (decent)', :value => 3.0 %>
      <%= f.radio_button :rating, 3.5 %>
      <%= f.label :rating, '3.5', :value => 3.5 %>
      <%= f.radio_button :rating, 4.0 %>
      <%= f.label :rating, '4.0 (good)', :value => 4.0 %>
      <%= f.radio_button :rating, 4.5 %>
      <%= f.label :rating, '4.5', :value => 4.5 %>
      <%= f.radio_button :rating, 5.0 %>
      <%= f.label :rating, '5.0 (great)', :value => 5.0 %>
    </div>

    <div class="confidence_container">
      <span style="font-weight:bold; font-size:.8em">
        Confidence (how confident do you feel about that rating?):
      </span>
      <%= f.radio_button :confidence, 1 %>
      <%= f.label :confidence, 'weakly', :value => 1 %>
      <%= f.radio_button :confidence, 2 %>
      <%= f.label :confidence, 'moderately', :value => 2 %>
      <%= f.radio_button :confidence, 3 %>
      <%= f.label :confidence, 'strongly', :value => 3 %>
    </div>

    <% average_score = calculate_average_score(review) %>
    <% predicted_score = calculate_prediction_score(review, @peer_scores) %>
		<div>
			<span style="padding-right:20px">
				Average User Rating: <%= average_score %> (<%= number_of_ratings_for(review.movie) %> total ratings)
			</span>
			<span style="padding-right:20px">
				Predicted Rating: <%= predicted_score %>
			</span>
      <span>
        Difference: <%= (predicted_score - average_score).round(2) if predicted_score && average_score %>
      </span>
		</div>

		<% if review.id? %>
			<div>
				<%= link_to "delete", review_path(review), :method=>:delete, :remote=>true, :class=>"remove", :confirm=>'Delete this review?' %>

			</div>
		<% end %>
	<% end %>
</div>
