<div id="review_for_movie_<%= review.movie_id %>">
	<%= form_for review, :remote => true, :html => {:class => "review_container"} do |f| %>
		<h4>
			Movie Title : <%= review.movie.title %>
		</h4>
		<%= f.hidden_field :movie_id %>
		<h5>
			Rating :
		</h5> 
		<%= f.radio_button :rating, 1.0 %> 1.0
		<%= f.radio_button :rating, 1.5 %> 1.5
		<%= f.radio_button :rating, 2.0 %> 2.0
		<%= f.radio_button :rating, 2.5 %> 2.5
		<%= f.radio_button :rating, 3.0 %> 3.0
		<%= f.radio_button :rating, 3.5 %> 3.5
		<%= f.radio_button :rating, 4.0 %> 4.0
		<%= f.radio_button :rating, 4.5 %> 4.5
		<%= f.radio_button :rating, 5.0 %> 5.0
		<h5>
			Confidence :
		</h5>
		<%= f.radio_button :confidence, 1 %> 1
		<%= f.radio_button :confidence, 2 %> 2
		<%= f.radio_button :confidence, 3 %> 3

		<%= f.submit %>
	<% end %>
</div>